<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> d-flex justify-content-between">
          <%= content_tag(:div, msg, class: "msg") %>
          <div class="cross">x</div>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
